<app-header></app-header>

<main>
  <ul id="users">
    <!-- @for(userItem of users; track userItem.id){
    <li>
      <app-user
        [user]="userItem"
        (selectedUser)="onSelectedUserComeFromOutside($event)"
      ></app-user>
    </li>
    } -->

    <li *ngFor="let userItem of users">
        <app-user
          [user]="userItem"
          (selectedUser)="onSelectedUserComeFromOutside($event)"
        ></app-user>
      </li>
  </ul>
  
  <!-- @if(selectedUser ) {
    <app-task [name]="selectedUser.name"></app-task>
  }@else {
    <p id="fallback">Select a user to see a task</p>
  } -->

  <app-tasks *ngIf="selectedUser; else otherwise" [name]="selectedUser!.name"></app-tasks>
  <ng-template #otherwise>
    <p id="fallback">Select a user to see a task</p>
  </ng-template>
</main>
